<div class="row">
        <div class="col-sm-12">     
            <h5>Edit Quotation</h5>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <form action="javascript:">
                <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Applicant Name:</label>
                    <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Applicant Name">
                  </div>
                </div>                  
                <div class="col-md-6">
                    <div class="form-group">
                      <label>Member Name:</label>
                      <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Member Name">
                    </div>
                </div>   
                </div>            
               <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Member Type:</label>
                    <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Role">
                  </div>
                </div>                  
                <div class="col-md-6">
                    <div class="form-group">
                      <label>Contact Number:</label>
                      <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Contact Number:">
                    </div>
                  </div>   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label>Email:</label>
                          <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                        </div>
                      </div>   
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Emirates ID:</label>
                          <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Emirates ID">
                        </div>
                      </div>   
               </div>
               <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Passport No:</label>
                    <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Passport No">
                  </div>
                </div>                  
                <div class="col-md-6">
                    <div class="form-group">
                      <label>UID Number:</label>
                      <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="UID Number">
                    </div>
                  </div>   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label>Status:</label>
                          <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Status">
                        </div>
                      </div>   
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Quotation Placed Date:</label>
                          <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Quotation Placed Date">
                        </div>
                      </div>   
               </div>          
               <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <label>Date Of Birth:</label>
                  <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Date Of Birth">
                </div>
              </div>   
              <div class="col-md-6">
                <div class="form-group">
                  <label>Dependents:</label>
                  <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Dependents">
                </div>
              </div>   
               </div>
               <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <label>Gender:</label>
              <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Gender">
            </div>
          </div>   
          <div class="col-md-6">
            <div class="form-group">
              <label>Parent Quotation Number:</label>
              <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Parent Quotation Number:">
            </div>
          </div>   
               </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                        <label>premium:</label>
                        <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="premium">
                        </div>
                    </div>   
                    <div class="col-md-6">
                        <div class="form-group">
                        <label>Total premium:</label>
                        <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Total premium:">
                        </div>
                    </div>   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                        <label>Additional premium:</label>
                        <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Additional premium">
                        </div>
                    </div>   
                    <div class="col-md-6">
                        <div class="form-group">
                        <label>Age:</label>
                        <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Age:">
                        </div>
                    </div>   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                        <label>Address:</label>
                        <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address">
                        </div>
                    </div>   
                    <div class="col-md-6">
                        <div class="form-group">
                        <label>Nationality</label>
                        <select class="form-control" id="exampleFormControlSelect1" readonly="readonly">
                            <option>Select Country</option>
                          <option>Afghanistan</option>
                        </select>
                        </div>
                    </div>   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                        <label>Plan:</label>
                        <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Plan">
                        </div>
                    </div>   
                    <div class="col-md-6">
                        <div class="form-group">
                        <label>Emirate:</label>
                        <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Emirate">
                        </div>
                    </div>   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                        <label>Marital Status:</label>
                        <input type="text" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Marital Status">
                        </div>
                    </div>   
                    <div class="col-md-6">
                        <div class="form-group">                    
                    </div>   
                </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            <label>View UID Attachment:
                            <input style="margin-left:216px" class="btn btn-primary" type="file" >
                            </label>
                            </div>
                        </div>   
                        <div class="col-md-6">
                            <div class="form-group">
                            <label>View Emirates ID: <input style="margin-left:216px" class="btn btn-primary" type="file" >
                            </label>
                            </div>
                        </div>   
                 </div>
                 <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            <label>View Passport: 
                                <input style="margin-left:257px" class="btn btn-primary" type="file" >
                            </label>
                            </div>
                        </div>   
                        <div class="col-md-6">
                            <div class="form-group">
                            <label>View Labour Contract: 
                                <input style="margin-left:189px" class="btn btn-primary" type="file" >
                            </label>
                            </div>
                        </div>   
                </div>
                <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            <label>View Photograph: 
                                <input style="margin-left:239px" class="btn btn-primary" type="file" >
                            </label>
                            </div>
                        </div>   
                        <div class="col-md-6">
                            <div class="form-group">
                            <label>View Sponsor UID: 
                                <input style="margin-left:211px" class="btn btn-primary" type="file" >
                            </label>
                            </div>
                        </div>   
                </div>
                <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            <label>View Sponsor Emirates ID: 
                                <input style="margin-left:190px" class="btn btn-primary" type="file" >
                            </label>
                            </div>
                        </div>   
                        <div class="col-md-6">
                            <div class="form-group">
                            <label>View Sponsor Passport:
                                 <input style="margin-left:182px" class="btn btn-primary" type="file" >
                            </label>
                            </div>
                        </div>   
                </div> 
            <br>
            <hr>        
                <button type="submit" class="btn btn-primary">Update</button>
                </form>
              </div>          
            </div>            
        </div>
        </div>